<!--Main Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery.min.js" type="text/javascript">\x3C/script>')</script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
