<!doctype html>
<html class="no-js" lang="en">
    {{> head/head
        pageTitle="Template"
        pageDescription="Template Description"
        pageKeywords="Template TARS"
    }}
    <body class="page">
        %=symbols=%
        <!--wrapper-->
        <div class="page__wrapper">
            <!--header-->
            <header class="page__header">
                {{> header/header}}
            </header>
            <!--end header-->
            <!--main-->
            <main class="page__main">
                <!-- Include your modules here -->
            </main>
            <!--end main-->
            <!--footer-->
            <footer class="page__footer">
                {{> footer/footer}}
            </footer>
            <!--end footer-->
        </div>
        <!--end wrapper-->
        <!--scripts-->
        {{> scripts/scripts}}
        <!--end scripts-->
    </body>
</html>
