<!doctype html>
<html class="no-js p-page" lang="en">
    {{> head/head
        pageTitle="Project Info"
        pageDescription="Project Description"
        pageKeywords="Project TARS"
    }}
    <body class="p-page__body">
        {{> project/project project}}
    </body>
</html>