@include b(p-page) {
    font-size: 16px;
    @include media('<tablet-small') {
        font-size: 50%;
    }
    @include e(body) {
        height: auto;
        min-height: 100%;
    }
}
@include b(p-svg) {
    @extend %v-hide;
}
@include b(p-project) {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #0c0c17;
    overflow-x: hidden;
    @include selection {
        background: #00c8aa;
        color: #ffffff;
    }
}
@include b(p-container) {
    clear: fix-legacy;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@include b(p-logo) {
    font-family: 'Lato', arial, sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    @include media('<tablet-small') {
        font-size: 40px;
    }
}
@include b(p-section) {
    display: flex;
    flex-direction: column;
    position: relative;
    @include m(bg) {
        background-image: url('%=static=%assets/project/project-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAAEUlEQVQI12NgePyfgeE/EAIAFBUD4aE/TggAAAAASUVORK5CYII=') repeat top left;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    @include m(primary) {
        background-color: #fff;
    }
    @include m(secondary) {
        background-color: #f5f5fa;
    }
    @include e(header body footer) {
        margin: 20px 0;
    }
    @include e(body) {
        margin-top: auto;
        margin-bottom: auto;
    }
}
@include b(p-headline) {
    text-align: center;
    padding: 20px 0;
    @include e(title) {
        font-family: 'Lato', arial, sans-serif;
        text-transform: capitalize;
        letter-spacing: 0;
        line-height: 1.4;
        font-weight: 300;
        font-size: 32px;
    }
    @include e(mark) {
        font-weight: 700;
    }
    @include e(hint) {
        display: block;
        position: relative;
        text-transform: uppercase;
        letter-spacing: .65em;
        margin-right: -0.65em;
        font-size: 8px;
        color: rgba(12, 12, 23, 0.9);
    }
}
@include b(p-thumbs) {
    @include e(list) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    @include e(item) {
        width: 33.333%;
        padding: 0 15px;
        @include media('<tablet-small') {
            width: 50%;
        }
    }
}
@include b(p-thumb) {
    text-align: center;
    font-family: 'Lato', arial, sans-serif;
    font-weight: 300;
    display: block;
    perspective: 300px;
    @include media('>tablet-small') {
        @include on-event() {
            .p-thumb__icon {
                opacity: 0;
                transform: rotate3d(1, 0, 0, 80deg) translate3d(0, -50px, 50px);
                transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, opacity 0.3s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0.2s;
            }
            .p-thumb__title {
                transform: translate3d(0, -75px, 0);
            }
            .p-thumb__info {
                opacity: 1;
                transform: translate3d(0, -70px, 0);
                transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, opacity 0.3s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
            }
        }
    }
    @include e(icon) {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        color: #00c8aa;
        font-size: 75px;
        display: flex;
        justify-content: center;
        transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, opacity 0.3s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
    }
    @include e(title) {
        margin: 15px 0;
        font-weight: 300;
        display: block;
        text-transform: capitalize;
        font-size: 18px;
        transform: translate3d(0, 0, 0);
        color: #0c0c17;
        transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
    }
    @include e(info) {
        @include media('>=tablet-small') {
            opacity: 0;
            transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 50px, 0);
            transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, opacity 0.2s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0.3s;
        }
        display: block;
        color: #262649;
        line-height: 21px;
        margin: 0 0 15px;
    }
}
@include b(p-icon) {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
@include b(p-scroll-down) {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -10px;
    height: 50px;
    animation-name: fadeInOutDown;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    z-index: 3;
    @include e(arrow) {
        display: block;
        &::before {
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            content: '';
            transition: border-color .3s, transform .3s;
            transform: rotate(135deg);
            margin-top: -2px;
            backface-visibility: hidden;
        }
    }
}
@include b(p-browsers) {
    padding: 70px 0;
    @include media('<tablet-small') {
        padding: 20px 0;
    }
    @include e(list) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -10px -10px 0;
    }
    @include e(item) {
        flex: 1 0 auto;
        padding: 10px 10px 0;
        text-align: center;
    }
    @include e(link) {
        display: block;
        font-weight: 300;
        @include on-event() {
            .p-browsers__icon {
                transform: translateY(-6px);
                box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
            }
        }
    }
    @include e(icon) {
        font-size: 80px;
        display: inline-flex;
        justify-content: center;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 100%;
    }
    @include e(title) {
        font-size: 18px;
        display: block;
        margin: 20px 0;
        color: #444446;
        font-weight: 600;
    }
    @include e(text) {
        color: #262649;
        display: block;
        margin: 20px 0;
    }
}
@include b(p-menu) {
    margin: auto;
    text-align: left;
    width: 100%;
    max-width: 400px;
    @include m(col2) {
        width: 100%;
        max-width: 700px;
    }
    @include m(col3) {
        width: 100%;
        max-width: 100%;
    }
    @include e(header) {
        border-radius: 7px 7px 0 0;
        background-color: rgba(0, 200, 170, 0.7);;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include e(footer) {
        border-radius: 0 0 7px 7px;
        background-color: rgba(0, 200, 170, 0.7);
        min-height: 30px;
    }
    @include e(title) {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    @include e(count) {
        display: inline-block;
        background-color: #484141;
        color: #fff;
        padding: 8px;
        border-radius: 20px;
        font-size: 10px;
        line-height: 1;
        min-width: 26px;
        text-align: center;
    }
    @include e(list) {
        background-color: rgba(72, 65, 65, 0.5);
        column-count: 1;
        @include at(col2) {
            column-count: 2;
            @include media('<tablet-small') {
                column-count: 1;
            }
        }
        @include at(col3) {
            column-count: 3;
            @include media('<tablet') {
                column-count: 2;
            }
            @include media('<tablet-small') {
                column-count: 1;
            }
        }
    }
    @include e(item) {
        text-align: center;
        padding: 5px 0;
        break-inside: avoid;
    }
    @include e(link) {
        position: relative;
        display: inline-block;
        padding: 5px 25px;
        color: #fff;
        font-family: 'Lato';
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
        @include on-event() {
            color: #fff;
            &::before, &::after {
                opacity: 1;
                transform: translateX(0);
            }
        }
        @include media('<tablet-small') {
            font-size: 14px;
        }
        &::after, &::before {
            position: absolute;
            top: auto;
            opacity: 0;
            transition: transform 0.3s, opacity 0.2s;
            backface-visibility: hidden;
        }
        &::before {
            left: 10px;
            content: '[';
            transform: translateX(20px);
        }
        &::after {
            right: 10px;
            content: ']';
            transform: translateX(-20px);
        }
    }
}
@include b(p-download) {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
    justify-content: center;
    @include on-event() {
        color: #fff;
        .p-download__icon {
            transform: translateY(0);
        }
        .p-download__text {
            transform: translateY(300%);
        }
    }
    @include e(icon) {
        font-size: 30px;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include e(text) {
        transition: all 0.3s;
        position: relative;
        backface-visibility: hidden;
    }
}
@keyframes fadeInOutDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
