<svg xmlns="http://www.w3.org/2000/svg" class="p-svg">
    <symbol id="angular" viewBox="0 0 32 32">
        <path d="M15.937 11.355l-2.057 4.879h4.433l-2.358-4.924-0.019 0.044zM15.964 4.3l-11.279 3.969 1.782 14.777 9.508 5.226 9.557-5.297 1.782-14.776-11.351-3.899zM20.744 21.849l-1.531-3.545h-6.25l-1.398 3.497-2.601 0.048 6.973-15.513 7.216 15.513h-2.41z" />
    </symbol>
    <symbol id="bem" viewBox="0 0 39 32">
        <path d="M22.872 27.417h15.846v4.582h-15.846v-4.582z" />
        <path d="M17.565 9.089h-8.477v-9.088h-9.088v27.454h17.565c2.94 0 5.308-2.367 5.308-5.308v-7.751c0-2.94-2.367-5.308-5.308-5.308z" />
    </symbol>
    <symbol id="bootstrap" viewBox="0 0 32 32">
        <path d="M8.171 4.999c-0.562 0.083-1.237 0.347-1.716 0.675-0.313 0.207-0.717 0.596-0.95 0.901-0.26 0.343-0.577 1.003-0.702 1.456l-0.106 0.377v15.727l0.106 0.377c0.124 0.453 0.441 1.113 0.702 1.456 0.49 0.641 1.245 1.181 2.003 1.426 0.626 0.2 0.313 0.192 8.486 0.192 8.177 0 7.864 0.008 8.486-0.196 0.762-0.245 1.516-0.781 2.003-1.422 0.26-0.347 0.581-1.007 0.705-1.456l0.102-0.377v-15.727l-0.106-0.377c-0.124-0.452-0.441-1.113-0.701-1.456-0.234-0.306-0.637-0.694-0.95-0.901-0.336-0.23-0.883-0.479-1.305-0.596l-0.37-0.102-7.732-0.004c-4.251-0.004-7.834 0.008-7.954 0.026zM18.709 9.159c1.192 0.196 2.006 0.588 2.538 1.222 0.226 0.268 0.49 0.8 0.6 1.196 0.068 0.26 0.079 0.407 0.083 1.056 0.004 0.683-0.004 0.784-0.083 1.052-0.23 0.8-0.732 1.414-1.543 1.89l-0.279 0.162 0.2 0.064c0.305 0.102 0.815 0.366 1.075 0.562 0.649 0.49 1.101 1.252 1.282 2.161 0.087 0.453 0.087 1.422-0.004 1.837-0.358 1.633-1.622 2.768-3.523 3.149-0.728 0.147-0.916 0.155-4.824 0.155h-3.82v-14.6l3.953 0.015c3.538 0.011 3.99 0.019 4.345 0.079zM13.655 13.277v1.72l1.822-0.015c1.709-0.019 1.837-0.023 2.112-0.098 0.86-0.234 1.233-0.728 1.233-1.633 0-0.694-0.245-1.143-0.777-1.407-0.471-0.234-0.981-0.283-2.983-0.287h-1.407v1.72zM13.655 19.176v2.003l1.991-0.015c2.237-0.015 2.312-0.023 2.863-0.29 0.634-0.309 0.916-0.815 0.916-1.641 0-1.063-0.422-1.652-1.395-1.946-0.275-0.087-0.328-0.087-2.327-0.102l-2.048-0.011v2.003z" />
    </symbol>
    <symbol id="flexbox" viewBox="0 0 32 32">
        <path class="path1" d="M32 32h-32v-32h32v32zM1.882 30.118h28.235v-28.235h-28.235v28.235z"></path>
        <path class="path2" d="M0.941 7.529h30.118v1.882h-30.118v-1.882z"></path>
        <path class="path3" d="M4.706 3.765h3.765v1.882h-3.765v-1.882z"></path>
        <path class="path4" d="M12.235 3.765h15.059v1.882h-15.059v-1.882z"></path>
        <path class="path5" d="M4.706 12.235h5.647v9.412h-5.647v-9.412z"></path>
        <path class="path6" d="M4.706 23.529h5.647v7.529h-5.647v-7.529z"></path>
        <path class="path7" d="M13.176 12.235h5.647v5.496h-5.647v-5.496z"></path>
        <path class="path8" d="M13.176 19.84h5.647v7.454h-5.647v-7.454z"></path>
        <path class="path9" d="M13.176 29.176h5.647v1.882h-5.647v-1.882z"></path>
        <path class="path10" d="M21.647 12.235h5.647v7.529h-5.647v-7.529z"></path>
        <path class="path11" d="M21.647 21.647h5.647v3.795h-5.647v-3.795z"></path>
        <path class="path12" d="M21.647 27.294h5.647v3.765h-5.647v-3.765z"></path>
        </symbol>
    </symbol>
    <symbol id="css3" viewBox="0 0 32 32">
        <path d="M16.017 21.044v0zM4.743 3.519l2.049 22.981 9.194 2.552 9.22-2.556 2.051-22.977h-22.514zM23 8.775l-0.693 7.767h-0l-0.48 5.359-0.042 0.476-5.781 1.603-5.773-1.603-0.395-4.426h2.829l0.201 2.248 3.142 0.847 0.008-0.002 0.002-0 3.134-0.846 0.329-3.655-6.579 0-0.056-0.633-0.129-1.429-0.067-0.756 7.081-0 0.258-2.886h-10.786l-0.056-0.634-0.129-1.429-0.067-0.756h14.118l-0.068 0.756z" />
    </symbol>
    <symbol id="foundation" viewBox="0 0 32 32">
        <path d="M28.889 0h-25.778c-1.718 0-3.111 1.393-3.111 3.111v25.778c0 1.718 1.393 3.111 3.111 3.111h25.778c1.718 0 3.111-1.393 3.111-3.111v-25.778c0-1.718-1.393-3.111-3.111-3.111zM25.046 19.214v2.372c-0.046 0.47-0.411 0.839-0.877 0.898l-13.398 0.001c-0.992 0-1.838-0.32-2.536-0.958s-1.048-1.412-1.048-2.321c0-0.723 0.236-1.365 0.709-1.931 0.473-0.564 1.071-0.957 1.796-1.181l11.707-3.345h-14.211v-2.265c0.007-0.475 0.343-0.869 0.791-0.967h13.483c0.992 0 1.837 0.317 2.536 0.95 0.699 0.634 1.049 1.391 1.049 2.272 0 0.736-0.239 1.383-0.714 1.943s-1.089 0.951-1.838 1.171l-11.723 3.361h14.275z"></path>
    </symbol>
    <symbol id="git" viewBox="0 0 32 32">
        <path d="M26.852 15.281l-9.848-9.848c-0.567-0.567-1.487-0.567-2.054 0l-2.045 2.045 2.594 2.594c0.603-0.204 1.294-0.067 1.775 0.413 0.483 0.483 0.619 1.181 0.41 1.786l2.5 2.5c0.605-0.209 1.303-0.074 1.786 0.41 0.675 0.675 0.675 1.769 0 2.444s-1.769 0.675-2.445 0c-0.508-0.508-0.633-1.254-0.376-1.88l-2.332-2.332v6.136c0.164 0.082 0.32 0.19 0.457 0.327 0.675 0.675 0.675 1.769 0 2.445-0.675 0.675-1.77 0.675-2.444 0-0.675-0.676-0.675-1.77 0-2.445 0.167-0.167 0.36-0.293 0.566-0.377v-6.193c-0.206-0.084-0.399-0.209-0.566-0.377-0.511-0.511-0.634-1.262-0.372-1.889l-2.557-2.558-6.753 6.752c-0.567 0.568-0.567 1.488 0 2.055l9.849 9.848c0.567 0.567 1.486 0.567 2.054 0l9.802-9.802c0.567-0.567 0.567-1.488 0-2.055z" />
    </symbol>
    <symbol id="handelbars" viewBox="0 0 51 32">
        <path d="M13.477 1.912c1.532-1.027 3.338-1.722 5.201-1.713 1.741-0.008 3.528 0.492 4.881 1.618 0.694 0.561 1.254 1.266 1.73 2.016 0.856-1.384 2.107-2.56 3.649-3.127 1.879-0.706 4.003-0.657 5.879 0.035 1.639 0.598 3.071 1.641 4.371 2.787 1.017 0.897 1.957 1.879 3.004 2.743 0.552 0.447 1.144 0.867 1.823 1.099 0.902 0.308 1.968 0.017 2.613-0.677 0.597-0.65 0.56-1.774-0.098-2.368-0.418-0.361-1.134-0.288-1.43 0.193-0.259 0.381-0.114 0.857 0.089 1.227-0.539-0.393-1.078-0.942-1.076-1.657-0.112-0.827 0.502-1.556 1.237-1.846 1.434-0.573 3.232-0.079 4.137 1.183 0.87 1.178 0.939 2.727 0.788 4.13-0.183 1.333-0.929 2.577-2.034 3.349-1.552 1.108-3.519 1.451-5.39 1.427-1.799-0.049-3.58-0.455-5.246-1.127-2.787-1.121-5.396-2.669-8.274-3.564-0.955-0.371-1.97-0.571-2.991-0.633 0.002 6.004-0.011 12.009-0.001 18.014-0.007 2 0.019 4.003-0.012 6.003-0.015-0.233-0.029-0.466-0.035-0.698 0.017-7.779 0.007-15.556 0.004-23.335-0.77 0.012-1.54-0.026-2.307 0.026-0.936 0.090-1.867 0.282-2.744 0.625-2.927 0.91-5.575 2.498-8.415 3.621-2.398 0.933-5.055 1.367-7.601 0.848-1.424-0.288-2.842-0.918-3.803-2.040-0.822-0.954-1.217-2.23-1.178-3.481-0.045-1.18 0.213-2.434 0.994-3.353 0.726-0.871 1.895-1.313 3.018-1.216 0.723 0.033 1.455 0.349 1.902 0.931 0.351 0.46 0.373 1.091 0.219 1.63-0.187 0.484-0.574 0.863-0.995 1.153 0.215-0.362 0.345-0.84 0.091-1.218-0.312-0.504-1.080-0.555-1.487-0.141-0.501 0.515-0.606 1.356-0.27 1.987 0.364 0.661 1.117 1.038 1.847 1.115 1.103 0.095 2.060-0.589 2.87-1.252 1.675-1.442 3.184-3.092 5.042-4.313z" />
        <path d="M23.987 7.015c0.767-0.052 1.538-0.014 2.307-0.026 0.003 7.779 0.013 15.557-0.004 23.335 0.005 0.232 0.019 0.465 0.035 0.698 0.005 0.142-0.104 0.249-0.183 0.353-0.004 0.005-0.012 0.015-0.016 0.021-0.361 0.592-1.26 0.604-1.743 0.163-0.327-0.314-0.405-0.8-0.399-1.233 0.004-5.31 0.063-10.621 0.018-15.931-0.014-2.46-0.018-4.92-0.015-7.379z" />
        <path d="M26.125 31.396c0.004-0.005 0.012-0.015 0.016-0.021-0.004 0.005-0.012 0.015-0.016 0.021z" />
    </symbol>
    <symbol id="html5" viewBox="0 0 32 32">
        <path d="M4.665 3.411l2.063 23.176 9.258 2.574 9.284-2.578 2.065-23.172h-22.671zM8.951 8.911l-0.068-0.763h7.107v2.842h-4.005l0.259 2.911h3.746v2.842h-6.341l-0.698-7.833zM22.518 14.665l-0.667 7.483-0.043 0.48-5.822 1.616-5.814-1.616-0.398-4.463h2.849l0.202 2.267 3.163 0.854 3.165-0.856 0.329-3.686h-3.485v-2.842h6.587l-0.069 0.763zM23.032 8.911l-0.129 1.441-0.057 0.639h-6.846v-2.842h7.1l-0.068 0.762z" />
    </symbol>
    <symbol id="jade" viewBox="0 0 31 32">
        <path d="M23.423 17.392c0.142 0.142 0.155 0.375-0.013 0.492-0.414 0.272-0.945 0.233-1.438 0.181-0.829-0.091-1.813-0.129-2.24-0.907-0.013 0-0.013-0.013-0.026-0.026-0.544-0.298 0.375-0.505 0.635-0.544 0.583-0.078 1.204 0.078 1.774 0.207 0.479 0.090 0.932 0.22 1.308 0.596v0 0zM30.986 29.747c-0.388 0.272-0.22 0.738-0.492 1.062-0.272 0.311-0.932 0.311-1.282 0.311-1.489 0.013-2.94-0.103-4.403 0.013-0.375 0.026-0.712 0.078-1.062 0.168-0.104 0.026-0.272 0.091-0.389 0.026-0.298-0.155-0.57-0.647-0.958-0.492-0.324 0.142-0.57 0.609-0.958 0.324-0.712-0.531-1.308-0.052-2.059 0.091-0.777 0.156-1.515-0.272-2.279-0.065-0.57 0.168-1.114 0.337-1.697 0.142-0.583-0.207-0.738-0.66-0.233-1.088 0.803-0.66 1.8-0.764 2.797-0.686 1.515 0.13 3.017 0.013 4.532-0.065 0.052 0 0.078 0.026 0.078 0.065 0.647 0.259 1.062-0.259 1.437-0.712 0.052-0.065 0.143-0.026 0.169 0.013 0.544 0.803 1.204-0.103 1.891-0.026 0.181 0.013 0.35 0.065 0.466 0.233 0.052 0.078 0.065 0.168 0.065 0.259 0.026 0.414 0.557 0.324 0.544-0.091 0-0.065 0.078-0.13 0.142-0.104 0.544 0.22 1.243 0.505 1.683-0.065 0.376-0.479 0.427-1.166 0.466-1.748 0.078-1.567-0.026-3.173-0.142-4.727-0.091-1.515-0.259-3.056-0.078-4.571 0.181-1.502 0.168-2.966 0.143-4.481-0.013-0.79-0.052-1.58 0-2.37 0.026-0.725 0.155-1.502 0.078-2.227-0.078-0.647-0.466-1.204-0.544-1.839-0.078-0.583 0-1.191 0.142-1.761 0.078-0.35 0.259-0.777 0.246-1.14-0.013-0.311-0.026-0.635-0.013-0.945 0-0.155-0.026-0.401 0.091-0.531 0.181-0.22 0.272-0.544-0.155-0.583-1.023-0.129-2.072-0.777-3.043-0.143 0.013 0.22 0.026 0.466-0.026 0.686l0.143 0.181c0.246 0.104 0.492 0.142 0.764 0.155 0.311 0 0.647-0.078 0.958-0.052 0.259 0.026 0.479 0.259 0.389 0.557-0.065 0.22-0.259 0.401-0.375 0.583-0.207 0.324-0.168 0.79-0.168 1.166-0.013 0.945 0 1.891 0.026 2.81 0.026 0.777 0.103 1.567 0.155 2.344 0.013 0.013 0.065 0.026 0.065 0.065 0.026 0.88 0.324 1.748 0.337 2.629 0.013 0.013-0.233 1.088-0.233 1.088-0.013 1.14-0.103 3.25-0.103 3.25-0.013 1.942-0.35 3.872-0.013 5.802 0.142 0.777-0.155 1.528-0.181 2.305-0.026 0.855 0.078 1.697-0.052 2.551 0.013 0.052 0 0.103-0.065 0.13-1.774 0.337-3.574 0.401-5.387 0.298-0.453-0.026-0.984-0.065-1.425 0.104-0.168 0.078-0.401 0.181-0.609 0.168-0.259-0.026-0.389-0.233-0.635-0.272-0.311-0.065-0.609-0.13-0.907-0.155-0.803-0.104-1.567-0.155-2.318 0.168-0.414 0.181-0.855 0.104-1.269-0.065-0.492-0.207-0.868-0.453-1.412-0.181-0.22 0.103-0.414 0.22-0.661 0.272-0.207 0.052-0.388 0-0.57-0.078-0.414-0.155-0.738-0.207-1.178-0.129 0.052 0.065 0.013 0.181-0.078 0.181-2.629-0.143-5.271 0.168-7.9 0.207-0.13 0.026-0.22 0.169-0.298 0.169h-0.078c-0.065 0-0.078-0.22-0.065-0.259-0.35-0.389-0.259-1.671-0.246-2.046 0.104-2.448-0.207-4.908-0.272-7.343-0.026-1.217-0.026-2.448 0.168-3.652 0.233-1.36 0.233-2.681 0.207-4.040-0.065-2.707 0.207-5.4 0.129-8.107 0-0.052 0.052-0.065 0.078-0.052l0.026-0.013c0.725-0.065 1.515-0.259 2.227-0.065 0.013 0 0.026 0.013 0.026 0.026l0.104 0.013h0.803c0.026 0 0.065 0.013 0.065 0.026 1.425 0.013 2.849-0.104 4.273-0.168 0.492-0.013 1.010 0 1.502-0.155 0.246-0.078 0.544-0.207 0.803-0.181 0.648 0.052 1.308 0.246 1.942 0.388 0.453 0.091 0.764-0.686 1.166-0.414 0.609 0.389 1.308 0.246 2.007 0.259 0.375 0.013 0.725-0.065 1.101-0.065 0.207 0 0.376 0.052 0.557 0.091 0.181-0.026 0.337-0.013 0.544 0.065l3.315-0.104c0.66 0.013 1.386 0.065 2.020-0.181 0.168-0.065 0.259-0.155 0.311-0.259-0.026-0.052-0.052-0.104-0.078-0.168-0.052-0.091-0.103-0.207-0.168-0.272-0.712-0.233-1.528-0.168-2.279-0.207-1.023-0.052-2.020 0.091-3.043 0.168-0.946 0.078-1.93 0.143-2.875 0.065-0.557-0.052-1.606-0.298-2.085 0.091-0.052 0.026-0.091 0.026-0.143 0-0.907-0.738-2.098 0.376-3.134 0.065-0.622-0.181-1.204-0.311-1.865-0.233-0.635 0.065-1.256 0.155-1.904 0.155-1.412-0.013-2.81 0.078-4.222 0.026-0.311-0.013-0.609-0.013-0.893-0.052-0.246-0.026-0.57-0.155-0.816-0.052-0.388 0.143-0.466 0.272-0.427 0.388 0.104 0.078-0.259 0.57-0.259 0.816l-0.026 0.647c-0.013 0.958-0.078 1.839-0.298 2.771-0.104 0.492-0.35 1.191-0.168 1.683 0.104 0.324 0.35 0.544 0.492 0.829 0.246 0.531 0.259 1.178 0.233 1.748l-0.155 5.568c-0.065 1.852-0.181 3.717-0.104 5.581 0.065 1.723 0.337 3.483 0.104 5.193-0.078 0.57-0.764 1.58-0.104 1.981 0.376 0.22 0.816 0.272 1.243 0.311 1.049 0.065 2.098-0.052 3.16-0.168 0.388-0.052 0.777-0.129 1.166-0.129 0.298-0.013 0.57 0.026 0.855 0.129 0.246 0.091 0.622 0.259 0.906 0.259 0.013 0.013 0.466-0.013 0.492-0.142 0.389-0.169 0.725-0.298 1.217-0.207 0.479 0.091 0.907 0.155 1.412 0.065 0.259-0.052 0.647-0.078 0.907-0.013l0.104 0.078c0.104-0.052-0.065 0.129-0.168 0.168-0.583 0.233-0.401 0.984-0.466 1.489 0 0.052-0.065 0.065-0.091 0.065-0.233 0-0.557 0-0.686-0.246-0.272-0.505-0.932-0.855-0.932 0.207 0 0.065-0.052 0.091-0.091 0.091-0.052 0-0.091-0.026-0.091-0.091s-0.686-0.427-0.764-0.466c-0.337-0.181-0.725-0.401-1.127-0.259-0.246 0.078-0.453 0.22-0.686 0.324-0.414 0.505-0.855 1.049-1.463 0.725-0.13-0.065-0.635-0.505-0.738-0.414-0.142 0.155-0.298 0.311-0.492 0.389-0.557 0.22-1.14 0.181-1.735 0.168-0.026 0-0.091-0.026-0.091-0.078-0.026-0.233-0.155-0.699-0.479-0.415-0.078 0.065-0.142 0.13-0.22 0.207-0.091 0.078-0.207 0.181-0.324 0.233-0.388 0.156-1.58-0.052-1.735-0.324-0.129-0.207-0.168-0.415-0.22-0.648-0.091-0.57-0.026-1.191-0.052-1.774-0.052-1.464-0.155-2.901-0.272-4.364-0.065-0.738-0.129-1.502-0.065-2.253 0.026-0.479 0.052-1.14 0.298-1.58 0.207-0.35 0.065-0.635-0.207-0.893-0.065-0.078-0.091-0.22-0.091-0.311-0.052-0.544 0.052-1.114 0.078-1.658 0.026-0.401 0.091-0.803 0.091-1.204 0-0.311-0.065-0.609-0.091-0.907-0.013-0.155-0.026-0.311 0.065-0.453 0.181-0.259 0.155-0.401 0.052-0.699-0.207-0.57 0-1.256 0.026-1.852 0.052-0.699 0.078-1.386 0-2.098-0.078-0.777-0.233-1.528-0.181-2.318 0.052-0.712 0.091-1.36 0.129-2.059 0.065-1.27 0.065-2.552 0.026-3.821v0.298c0 0-0.104-1.619 0.57-2.007 1.036-0.57 2.292-0.479 3.419-0.531 1.463-0.065 2.94 0.078 4.403 0.078 0.855 0 1.697-0.013 2.525-0.207 0.583-0.13 1.166-0.181 1.761-0.155 0.725 0.052 1.425 0.233 2.137 0.298s1.411 0.026 2.124-0.013c1.541-0.104 3.095-0.065 4.636 0l2.409 0.104c0.376 0.013 0.803 0.104 1.166 0.013l0.686-0.233c0.505-0.143 0.855-0.013 1.347 0.104l1.813 0.427c0.207-0.052 0.401-0.065 0.557 0.091 0.337 0.311 0.013 0.699 0.259 1.049 0.298 0.414 0.57 0.686 0.635 1.217 0.065 0.57 0.091 1.191-0.091 1.748-0.13 0.376-0.298 0.777-0.143 1.178 0.091 0.246 0.259 0.479 0.324 0.738 0.13 0.557 0.13 1.114 0.091 1.683-0.026 0.648-0.065 1.308-0.142 1.942-0.052 0.414-0.22 0.816-0.233 1.217-0.013 0.337 0.091 0.622 0.155 0.945 0.22 1.062-0.712 1.735-0.881 2.707-0.090 0.531 0.505 0.298 0.777 0.609 0.168 0.207 0.078 0.544 0.065 0.764-0.065 0.57 0.104 1.127 0.078 1.697-0.026 0.712-0.246 1.295-0.078 2.007 0.091 0.401 0.168 0.803 0.078 1.204s-0.557 1.412 0.065 1.593c0.026 0 0.052 0.026 0.052 0.065 0 0.181-0.026 0.311-0.103 0.479-0.272 0.622 0.155 0.492 0.233 0.893 0.078 0.376-0.142 0.505-0.207 0.855-0.091 0.557 0.207 0.984 0.181 1.528-0.013 0.505-0.298 0.79-0.207 1.256 0.026 0 0.065 0.026 0.065 0.065 0.052 0.246 0.078 0.531-0.013 0.777-0.129 0.35-0.272 0.453 0.13 0.66 0.103-0.077 0.103 0.013 0.038 0.052v0 0zM24.213 12.562c-0.246-1.515-0.388-3.095-0.893-4.545-0.22-0.609-0.324-1.269-1.036-1.386-0.932-0.155-0.622 0.622-0.492 1.36 0.181 1.14 0.259 2.305 0.557 3.432 0.207 0.777 0.583 1.697-0.453 1.101-1.735-1.049-2.331-3.341-3.030-5.051-0.311-0.777-1.217-2.629-1.839-3.095-0.298-0.22-1.761-0.544-2.046-0.35-0.609 0.414 1.269 3.328 1.528 3.846 0.57 1.166 1.178 2.318 1.917 3.367 0.531 0.738 1.36 1.425 0.181 1.865-1.217 0.466-1.813-0.22-2.642-0.855-0.66-0.492-1.502-0.57-2.331-0.66-2.279-0.272-4.442-0.013-6.268 1.502-0.88 0.738-1.437 1.748-1.904 2.784-0.13 0.259-0.88 2.551-0.777 2.564-0.466-0.078-0.181-1.166-0.777-0.531-0.531 0.557 0.155 2.163 0.388 2.719 0.531 1.243 1.088 2.461 1.502 3.756s0.505 1.269 1.697 1.373c1.515 0.143 3.004-0.324 4.494-0.505 0 0-2.642-1.644 2.577 0.156 1.166 0.401 2.396 0.298 3.613 0.337 0.868-0.207 0.894-1.697 1.347-2.396 0.168-0.259 1.010-1.58 1.269-1.684 0.376-0.142 0.907 0.246 1.282 0.298 2.176 0.337 2.849-1.45 2.499-3.199-0.298-1.528-0.129-3.237 0.091-4.416 0.090-0.44-0.376-1.386-0.454-1.787v0 0zM14.488 31.158c-0.233-0.22-0.583-0.272-0.816-0.505-0.13-0.143-0.168-0.272-0.143-0.427 0 0-0.013 0-0.013-0.013-0.168-0.311 0.22-0.57 0.492-0.466 0.142 0.065 0.35 0.155 0.376 0.324 0.013 0.22-0.13 0.375-0.168 0.57 0.155 0.091 0.311 0.311 0.388 0.414 0.052 0.091-0.052 0.168-0.116 0.104v0 0z" />
    </symbol>
    <symbol id="less" viewBox="0 0 32 32">
        <path d="M8.972 10.374v7.262c0 0.874 0.097 1.003 0.965 1.252l-0.208 1.217c-0.463-0.105-0.909-0.152-1.312-0.311-0.769-0.302-0.89-0.999-0.893-1.715-0.010-2.053-0.004-4.106-0.004-6.158v-0.406c-0.353 0.027-0.678 0.024-0.99 0.084-0.359 0.068-0.564 0.363-0.576 0.795-0.017 0.602-0.006 1.204-0.016 1.806-0.005 0.276-0.017 0.553-0.050 0.826-0.062 0.515-0.299 0.934-0.733 1.215 0.004 0.039-0.002 0.068 0.008 0.075 0.651 0.455 0.763 1.137 0.775 1.857 0.009 0.572-0 1.145 0.003 1.717 0.005 0.863 0.229 1.096 1.095 1.151l0.14 0.021v1.126c-0.601-0.015-1.189-0.040-1.727-0.328-0.599-0.321-0.801-0.877-0.83-1.505-0.030-0.65-0.019-1.302-0.025-1.953-0.001-0.118 0.004-0.237-0.003-0.356-0.043-0.754-0.337-1.086-1.079-1.214-0.006-0.034-0.017-0.071-0.017-0.109-0.002-0.316-0.001-0.631-0.001-0.937l0.053-0.048c0.781-0.189 1.037-0.507 1.046-1.323 0.006-0.523-0.009-1.046 0.005-1.569 0.009-0.354 0.024-0.712 0.087-1.059 0.139-0.767 0.697-1.231 1.59-1.351 0.264-0.035 0.53-0.057 0.796-0.061 0.62-0.009 1.241-0.003 1.902-0.003v0zM11.489 17.175c-0.092 0.759 0.493 1.455 1.305 1.606 0.768 0.143 1.509 0.011 2.276-0.229 0.061 0.356 0.128 0.7 0.172 1.047 0.007 0.053-0.084 0.154-0.149 0.174-1.125 0.352-2.26 0.468-3.389 0.035-0.696-0.267-1.199-0.764-1.467-1.46-0.425-1.107-0.43-2.221 0.071-3.305 0.732-1.585 2.556-1.997 3.921-1.362 0.825 0.384 1.223 1.098 1.365 1.954 0.081 0.49 0.074 0.994 0.11 1.539-1.449-0.001-2.834-0.001-4.214-0.001v0zM14.217 16.105c0.017-0.924-0.507-1.502-1.328-1.497-0.785 0.005-1.423 0.677-1.403 1.497h2.731zM24.829 22.2v-1.144l0.328-0.023c0.617-0.050 0.892-0.324 0.908-0.942 0.015-0.592 0-1.184 0.011-1.776 0.005-0.285 0.022-0.573 0.064-0.855 0.073-0.488 0.322-0.88 0.78-1.177-0.81-0.514-0.837-1.299-0.845-2.089-0.006-0.543 0.006-1.086-0.005-1.628-0.015-0.737-0.287-1.006-1.026-1.039l-0.204-0.014v-1.137c0.642 0.014 1.278 0.034 1.841 0.398 0.524 0.339 0.688 0.876 0.713 1.454 0.031 0.7 0.015 1.401 0.028 2.101 0.004 0.206 0.014 0.418 0.067 0.615 0.135 0.507 0.486 0.769 1.019 0.787v1.109c-0.51 0.022-0.875 0.265-1.012 0.773-0.054 0.197-0.068 0.408-0.072 0.613-0.014 0.691 0 1.382-0.025 2.072-0.039 1.095-0.616 1.704-1.706 1.831-0.28 0.033-0.563 0.045-0.863 0.069v0zM25.096 13.701l-0.263 1.146c-0.61-0.202-1.211-0.341-1.841-0.24-0.397 0.064-0.631 0.238-0.68 0.516-0.054 0.301 0.093 0.568 0.457 0.748 0.308 0.152 0.635 0.266 0.952 0.4 0.19 0.081 0.381 0.16 0.566 0.253 0.89 0.444 1.198 1.013 1.096 2.015-0.071 0.702-0.577 1.219-1.467 1.415-1.061 0.233-2.111 0.168-3.168-0.23l0.232-1.154c0.455 0.104 0.888 0.239 1.331 0.292 0.366 0.044 0.747 0.009 1.117-0.028 0.244-0.024 0.449-0.149 0.509-0.423 0.062-0.282-0.018-0.527-0.256-0.672-0.292-0.178-0.612-0.312-0.922-0.461-0.372-0.178-0.76-0.328-1.118-0.531-1.054-0.595-1.044-2.437 0.128-2.997 0.347-0.166 0.741-0.266 1.124-0.32 0.743-0.106 1.466 0.047 2.204 0.271zM20.318 13.649l-0.275 1.2c-0.611-0.208-1.203-0.339-1.825-0.244-0.416 0.064-0.649 0.24-0.699 0.532-0.050 0.296 0.1 0.556 0.475 0.739 0.327 0.159 0.673 0.28 1.008 0.421 0.163 0.069 0.326 0.14 0.485 0.219 0.922 0.459 1.244 1.078 1.097 2.096-0.101 0.702-0.713 1.241-1.615 1.383-0.916 0.144-1.825 0.12-2.719-0.166-0.219-0.070-0.311-0.155-0.244-0.395 0.080-0.282 0.128-0.573 0.191-0.863 0.452 0.102 0.885 0.238 1.328 0.29 0.366 0.043 0.747 0.009 1.117-0.028 0.26-0.025 0.462-0.171 0.517-0.454 0.053-0.273-0.042-0.51-0.267-0.641-0.339-0.197-0.705-0.346-1.059-0.516-0.328-0.157-0.668-0.294-0.982-0.474-1.055-0.605-1.038-2.433 0.151-3.024 0.529-0.263 1.089-0.361 1.664-0.316 0.543 0.043 1.081 0.155 1.653 0.241v0z" />
    </symbol>
    <symbol id="mercurial" viewBox="0 0 33 32">
        <path d="M20.25 31.944h-0.001c-2.446 0-4.234-1.43-4.347-3.476-0.071-1.298 0.571-2.679 1.191-4.015 0.716-1.541 1.457-3.134 0.938-4.269-0.393-0.859-1.538-1.563-3.403-2.093-5.631-1.597-7.88-5.843-7.61-9.341 0.323-4.198 3.941-7.332 9.218-7.984 5.739-0.709 10.936 2.042 13.919 7.321 2.953 5.222 3.033 11.635 0.203 16.339-2.832 4.709-6.611 7.52-10.108 7.52v0zM18.036 2.424c-0.519 0-1.051 0.033-1.582 0.099-5.346 0.661-7.467 3.72-7.67 6.362-0.214 2.78 1.66 6.177 6.328 7.502 2.421 0.687 3.902 1.688 4.53 3.059 0.86 1.878-0.097 3.937-0.942 5.754-0.528 1.138-1.076 2.315-1.028 3.171 0.060 1.078 1.095 1.803 2.578 1.803h0.001c1.075 0 4.873-0.481 8.591-6.661 2.506-4.167 2.417-9.88-0.227-14.555-2.347-4.152-6.203-6.533-10.578-6.533v0z" />
        <path d="M9.6 30.787c-2.556 0-4.794-1.729-5.442-4.204-0.38-1.455-0.172-2.97 0.587-4.268s1.978-2.222 3.433-2.603c0.468-0.122 0.949-0.185 1.429-0.185 2.556 0 4.794 1.729 5.442 4.205 0.381 1.454 0.172 2.97-0.587 4.268-0.759 1.298-1.978 2.222-3.433 2.603-0.468 0.122-0.948 0.185-1.429 0.185v0zM9.607 21.298c-0.329 0-0.659 0.043-0.981 0.127-0.997 0.261-1.833 0.894-2.353 1.784s-0.664 1.928-0.402 2.925c0.444 1.697 1.977 2.882 3.728 2.882 0.329 0 0.658-0.043 0.98-0.127 0.997-0.26 1.833-0.894 2.353-1.784 0.52-0.889 0.663-1.928 0.402-2.925-0.444-1.697-1.977-2.882-3.728-2.882v0z" />
        <path d="M4.178 19.117v0c-2.062 0-3.767-1.551-3.966-3.607-0.212-2.189 1.397-4.142 3.586-4.354 2.229-0.211 4.144 1.404 4.355 3.586 0.213 2.187-1.396 4.142-3.586 4.357-0.132 0.012-0.261 0.019-0.389 0.019v0zM4.186 12.908c-0.072 0-0.144 0.003-0.217 0.011-1.217 0.117-2.111 1.203-1.994 2.421 0.117 1.216 1.185 2.116 2.421 1.996 1.217-0.119 2.112-1.206 1.994-2.422-0.111-1.142-1.058-2.004-2.204-2.004v0z" />
        <path d="M23.317 27.674c-0.265 0-0.525-0.117-0.7-0.343-0.299-0.386-0.23-0.942 0.156-1.242 0.083-0.065 5.781-4.628 4.974-12.083-0.052-0.486 0.299-0.923 0.786-0.975 0.484-0.055 0.923 0.299 0.975 0.785 0.917 8.478-5.379 13.464-5.648 13.673-0.161 0.125-0.352 0.185-0.542 0.185z" />
        <path d="M9.959 28.088c-0.422 0-0.796-0.304-0.871-0.734-0.083-0.479 0.235-0.935 0.713-1.023 0.344-0.069 1.438-0.417 1.198-2.041-0.072-0.484 0.263-0.934 0.746-1.006 0.479-0.071 0.934 0.263 1.005 0.746 0.426 2.869-1.761 3.893-2.639 4.044-0.051 0.009-0.102 0.014-0.152 0.014z" />
    </symbol>
    <symbol id="react" viewBox="0 0 34 32">
        <path d="M19.314 15.987c0 1.321-1.071 2.392-2.392 2.392s-2.392-1.071-2.392-2.392c0-1.321 1.071-2.392 2.392-2.392s2.392 1.071 2.392 2.392z" />
        <path d="M16.922 24.783c1.878 1.826 3.729 2.906 5.221 2.906 0.489 0 0.952-0.103 1.337-0.334 1.337-0.772 1.826-2.701 1.363-5.453-0.077-0.489-0.18-0.977-0.309-1.492 0.514-0.154 0.977-0.309 1.44-0.463 2.598-1.003 4.038-2.392 4.038-3.909 0-1.543-1.44-2.932-4.038-3.909-0.463-0.18-0.926-0.334-1.44-0.463 0.129-0.514 0.232-1.003 0.309-1.492 0.437-2.803-0.051-4.758-1.389-5.53-0.386-0.231-0.849-0.334-1.337-0.334-1.466 0-3.344 1.080-5.221 2.906-1.852-1.826-3.704-2.906-5.195-2.906-0.489 0-0.952 0.103-1.337 0.334-1.337 0.772-1.826 2.701-1.363 5.453 0.077 0.489 0.18 0.977 0.309 1.492-0.514 0.154-0.977 0.309-1.44 0.463-2.598 1.003-4.038 2.392-4.038 3.909 0 1.543 1.44 2.932 4.038 3.909 0.463 0.18 0.926 0.334 1.44 0.463-0.129 0.514-0.232 1.003-0.309 1.492-0.437 2.752 0.051 4.707 1.363 5.453 0.386 0.232 0.849 0.334 1.337 0.334 1.492 0.051 3.344-1.029 5.221-2.829v0zM15.481 21.311c0.463 0.026 0.952 0.026 1.44 0.026s0.977 0 1.44-0.026c-0.463 0.617-0.952 1.183-1.44 1.723-0.489-0.54-0.977-1.106-1.44-1.723zM12.292 18.662c0.257 0.437 0.489 0.849 0.772 1.26-0.797-0.103-1.543-0.232-2.263-0.386 0.232-0.694 0.489-1.415 0.797-2.135 0.206 0.411 0.437 0.849 0.694 1.26zM10.8 12.463c0.72-0.154 1.466-0.283 2.263-0.386-0.257 0.412-0.514 0.823-0.772 1.26s-0.489 0.849-0.694 1.286c-0.334-0.746-0.592-1.466-0.797-2.161zM12.215 15.987c0.334-0.694 0.694-1.389 1.106-2.083 0.386-0.669 0.823-1.337 1.26-2.006 0.772-0.051 1.543-0.077 2.341-0.077 0.823 0 1.595 0.026 2.341 0.077 0.463 0.669 0.874 1.337 1.26 2.006 0.412 0.694 0.772 1.389 1.106 2.083-0.334 0.694-0.694 1.389-1.106 2.083-0.386 0.669-0.823 1.337-1.26 2.006-0.772 0.051-1.543 0.077-2.341 0.077-0.823 0-1.595-0.026-2.341-0.077-0.463-0.669-0.874-1.337-1.26-2.006-0.412-0.695-0.772-1.389-1.106-2.083v0zM22.272 14.598l-0.694-1.286c-0.257-0.437-0.489-0.849-0.772-1.26 0.797 0.103 1.543 0.232 2.263 0.386-0.231 0.72-0.489 1.44-0.797 2.161v0zM22.272 17.376c0.309 0.72 0.566 1.44 0.797 2.135-0.72 0.154-1.466 0.283-2.263 0.386 0.257-0.412 0.514-0.823 0.772-1.26 0.232-0.386 0.463-0.823 0.694-1.26v0zM22.863 26.301c-0.206 0.129-0.463 0.18-0.746 0.18-1.26 0-2.829-1.029-4.372-2.572 0.746-0.797 1.466-1.698 2.186-2.701 1.209-0.103 2.366-0.283 3.447-0.54 0.129 0.463 0.206 0.926 0.283 1.389 0.36 2.186 0.077 3.755-0.797 4.244zM24.201 12.746c2.881 0.823 4.604 2.083 4.604 3.241 0 1.003-1.183 2.006-3.266 2.804-0.412 0.154-0.874 0.309-1.337 0.437-0.334-1.055-0.746-2.135-1.26-3.241 0.514-1.106 0.952-2.186 1.26-3.241v0zM22.143 5.493c0.283 0 0.514 0.051 0.746 0.18 0.849 0.489 1.157 2.032 0.797 4.244-0.077 0.437-0.18 0.9-0.283 1.389-1.080-0.232-2.238-0.412-3.447-0.54-0.694-1.003-1.44-1.903-2.186-2.701 1.543-1.518 3.112-2.572 4.372-2.572zM18.362 10.663c-0.463-0.026-0.952-0.026-1.44-0.026s-0.977 0-1.44 0.026c0.463-0.617 0.952-1.183 1.44-1.723 0.489 0.54 0.977 1.132 1.44 1.723v0zM10.98 5.673c0.206-0.129 0.463-0.18 0.746-0.18 1.26 0 2.829 1.029 4.372 2.572-0.746 0.797-1.466 1.697-2.186 2.701-1.209 0.103-2.366 0.283-3.447 0.54-0.129-0.463-0.206-0.926-0.283-1.389-0.36-2.186-0.077-3.729 0.797-4.244v0zM9.643 19.228c-2.881-0.823-4.604-2.083-4.604-3.241 0-1.003 1.183-2.006 3.266-2.803 0.412-0.154 0.874-0.309 1.337-0.437 0.334 1.055 0.746 2.135 1.26 3.241-0.514 1.106-0.952 2.212-1.26 3.241zM10.183 22.057c0.077-0.437 0.18-0.9 0.283-1.389 1.080 0.232 2.238 0.412 3.447 0.54 0.694 1.003 1.44 1.903 2.186 2.701-1.543 1.517-3.112 2.572-4.372 2.572-0.283 0-0.514-0.051-0.746-0.18-0.875-0.489-1.157-2.058-0.797-4.244z" />
    </symbol>
    <symbol id="responsive" viewBox="0 0 32 32">
        <path d="M24.569 26.706h-3.488c-0.126 0-0.229-0.103-0.229-0.229v-0.849c0-0.126-0.103-0.229-0.229-0.229h-4.881c-0.126 0-0.229 0.103-0.229 0.229v0.849c0 0.126-0.103 0.229-0.229 0.229h-2.622c-0.126 0-0.229 0.103-0.229 0.229v0.982c0 0.126 0.103 0.229 0.229 0.229h11.906c0.126 0 0.229-0.103 0.229-0.229v-0.982c0-0.126-0.103-0.229-0.229-0.229z" />
        <path d="M30.429 3.742h-24.89c-0.866 0-1.571 0.705-1.571 1.571 0 0 0 2.995 0 4.097 0 0.542-0.040 0.618 0.323 0.618 0.193 0 0.407 0 0.623 0 0.305 0 0.242-0.077 0.242-0.628 0-1.099 0-4.087 0-4.087 0-0.207 0.175-0.382 0.382-0.382h24.89c0.207 0 0.382 0.175 0.382 0.382v15.334h-17.745c0 0-0.625-0.001-0.625 0.808 0 0.479 0 1.438 0 1.918 0 0.808 0.646 0.808 0.646 0.808h17.343c0.866 0 1.571-0.704 1.571-1.57v-17.297c0-0.866-0.705-1.571-1.571-1.571zM17.984 22.824c-0.391 0-0.708-0.317-0.708-0.708s0.317-0.708 0.708-0.708c0.391 0 0.708 0.317 0.708 0.708s-0.317 0.708-0.708 0.708z" />
        <path d="M10.018 11.431h-9.004c-0.559 0-1.014 0.455-1.014 1.014v14.8c0 0.559 0.455 1.014 1.014 1.014h9.004c0.559 0 1.014-0.455 1.014-1.014v-14.8c0-0.559-0.455-1.014-1.014-1.014zM4.405 12.465h2.221c0.106 0 0.192 0.086 0.192 0.192s-0.086 0.192-0.192 0.192h-2.221c-0.106 0-0.192-0.086-0.192-0.192s0.086-0.192 0.192-0.192zM5.502 27.546c-0.29 0-0.525-0.235-0.525-0.525s0.235-0.525 0.525-0.525 0.525 0.235 0.525 0.525-0.235 0.525-0.525 0.525zM10.16 26.004c0 0.135-0.108 0.246-0.241 0.246h-8.808c-0.132 0-0.24-0.111-0.24-0.246v-12.298c0-0.135 0.108-0.246 0.24-0.246h8.808c0.132 0 0.241 0.111 0.241 0.246v12.298z" />
    </symbol>
    <symbol id="sass" viewBox="0 0 32 32">
        <path d="M31.641 21.161c-0.109-0.911-0.578-1.618-1.286-2.172-0.82-0.641-1.78-0.905-2.803-0.947-0.834-0.034-1.65 0.090-2.437 0.376-0.224 0.081-0.444 0.177-0.67 0.268-0.030-0.055-0.062-0.107-0.088-0.162-0.232-0.474-0.512-0.927-0.573-1.47-0.044-0.386-0.098-0.772-0.006-1.153 0.088-0.367 0.204-0.728 0.312-1.091 0.056-0.187 0.017-0.291-0.161-0.375-0.062-0.029-0.129-0.055-0.197-0.065-0.438-0.063-0.869-0.027-1.293 0.096-0.15 0.044-0.259 0.128-0.292 0.294-0.019 0.095-0.058 0.186-0.084 0.28-0.111 0.391-0.189 0.789-0.368 1.161-0.449 0.934-0.96 1.832-1.485 2.724-0.057 0.096-0.116 0.191-0.188 0.308-0.184-0.385-0.38-0.73-0.44-1.136-0.067-0.458-0.12-0.915-0.006-1.37 0.085-0.339 0.196-0.672 0.298-1.006 0.049-0.159 0.026-0.242-0.118-0.326-0.073-0.042-0.155-0.080-0.237-0.092-0.454-0.067-0.901-0.032-1.338 0.11-0.136 0.044-0.207 0.132-0.249 0.272-0.122 0.413-0.226 0.836-0.397 1.229-0.694 1.59-1.407 3.172-2.12 4.753-0.149 0.33-0.323 0.649-0.491 0.97-0.043 0.082-0.104 0.153-0.157 0.23-0.043-0.050-0.059-0.085-0.059-0.119 0.001-0.203-0.023-0.413 0.016-0.609 0.117-0.594 0.252-1.186 0.395-1.775 0.117-0.486 0.254-0.968 0.385-1.452 0.044-0.162 0.045-0.313-0.072-0.449-0.195-0.228-0.603-0.278-0.845-0.102-0.026 0.019-0.057 0.032-0.107 0.061 0.009-0.077 0.014-0.125 0.021-0.173 0.051-0.37 0.061-0.738-0.040-1.103-0.127-0.454-0.45-0.715-0.921-0.701-0.22 0.007-0.45 0.044-0.653 0.124-0.855 0.335-1.512 0.928-2.071 1.642-0.051 0.065-0.118 0.124-0.189 0.163-0.723 0.401-1.449 0.797-2.174 1.195-0.271 0.148-0.542 0.297-0.807 0.442-0.216-0.207-0.413-0.421-0.637-0.603-0.682-0.556-1.375-1.098-2.061-1.648-0.608-0.487-1.198-0.995-1.649-1.64-0.336-0.48-0.552-1.005-0.572-1.599-0.026-0.756 0.188-1.447 0.573-2.091 0.493-0.823 1.164-1.483 1.903-2.082 0.781-0.633 1.626-1.17 2.502-1.66 1.225-0.686 2.486-1.293 3.837-1.694 1.386-0.411 2.791-0.646 4.241-0.482 0.57 0.064 1.123 0.195 1.632 0.474 0.389 0.213 0.708 0.492 0.857 0.929 0.146 0.43 0.142 0.865 0.040 1.301-0.206 0.883-0.69 1.612-1.299 2.263-0.998 1.067-2.216 1.793-3.588 2.273-0.791 0.277-1.605 0.451-2.441 0.521-0.682 0.057-1.35-0.003-1.996-0.241-0.428-0.157-0.8-0.398-1.1-0.747-0.054-0.063-0.122-0.13-0.222-0.072-0.098 0.057-0.115 0.151-0.082 0.245 0.055 0.157 0.105 0.319 0.191 0.459 0.214 0.351 0.527 0.606 0.871 0.825 0.661 0.42 1.399 0.561 2.165 0.594 1.162 0.050 2.296-0.123 3.413-0.435 1.596-0.445 2.983-1.231 4.096-2.471 0.927-1.032 1.588-2.198 1.73-3.605 0.069-0.687-0.004-1.36-0.326-1.986-0.349-0.679-0.903-1.147-1.566-1.494-0.964-0.506-2.006-0.705-3.081-0.763-0.359-0-0.718-0-1.077-0-1.303 0.063-2.562 0.337-3.786 0.782-0.926 0.337-1.835 0.717-2.717 1.157-1.921 0.96-3.71 2.108-5.179 3.699-0.732 0.793-1.352 1.663-1.708 2.693-0.104 0.302-0.168 0.622-0.243 0.934-0.006 0.026 0.023 0.051-0.041 0.077 0 0.147 0 0.293 0 0.44 0.064 0.113 0.071 0.225 0.1 0.338 0.189 0.733 0.578 1.363 1.060 1.937 0.687 0.818 1.518 1.476 2.38 2.096 0.747 0.537 1.505 1.062 2.255 1.595 0.129 0.091 0.248 0.197 0.388 0.309-0.12 0.065-0.221 0.122-0.325 0.175-0.99 0.502-1.942 1.065-2.82 1.747-0.529 0.411-1.041 0.848-1.402 1.418-0.581 0.918-0.787 1.896-0.354 2.94 0.127 0.305 0.32 0.569 0.592 0.763 0.088 0.063 0.187 0.126 0.29 0.15 0.264 0.062 0.534 0.103 0.802 0.152 0.253-0 0.505-0 0.758-0 0.839-0.075 1.602-0.362 2.291-0.838 1.078-0.744 1.804-1.741 2.117-3.022 0.227-0.93 0.236-1.862-0.031-2.788-0.025-0.086-0.056-0.17-0.089-0.253s-0.071-0.164-0.116-0.268c0.572-0.329 1.146-0.659 1.719-0.989 0.009 0.007 0.017 0.015 0.026 0.022-0.031 0.102-0.064 0.204-0.093 0.308-0.204 0.746-0.34 1.505-0.291 2.279 0.052 0.825 0.282 1.597 0.765 2.287 0.39 0.558 1.321 0.578 1.736 0.019 0.147-0.199 0.29-0.406 0.397-0.628 0.28-0.579 0.54-1.168 0.807-1.753 0.012-0.025 0.022-0.050 0.047-0.107-0.019 0.277-0.042 0.52-0.052 0.764-0.016 0.38 0.006 0.758 0.136 1.12 0.111 0.31 0.3 0.541 0.655 0.581 0.242 0.028 0.436-0.083 0.614-0.224 0.279-0.22 0.505-0.491 0.673-0.8 0.475-0.873 0.963-1.74 1.394-2.635 0.466-0.968 0.873-1.964 1.306-2.948 0.024-0.054 0.045-0.109 0.072-0.175 0.102 0.402 0.174 0.795 0.305 1.168 0.152 0.432 0.341 0.854 0.547 1.264 0.097 0.194 0.086 0.32-0.049 0.482-0.564 0.68-1.118 1.368-1.673 2.056-0.123 0.152-0.245 0.306-0.347 0.472-0.062 0.101-0.103 0.223-0.12 0.341-0.033 0.225 0.105 0.441 0.346 0.493 0.219 0.047 0.453 0.065 0.677 0.048 0.774-0.057 1.477-0.329 2.099-0.789 0.805-0.597 1.064-1.41 0.869-2.375-0.053-0.262-0.146-0.517-0.237-0.769-0.041-0.114-0.043-0.194 0.031-0.3 0.644-0.919 1.194-1.895 1.705-2.892 0.020-0.039 0.041-0.079 0.076-0.121 0.166 0.863 0.415 1.694 0.862 2.448-0.228 0.22-0.454 0.419-0.658 0.639-0.45 0.483-0.84 1.009-1.043 1.649-0.087 0.276-0.155 0.556-0.116 0.852 0.061 0.458 0.436 0.755 0.886 0.651 0.963-0.223 1.795-0.677 2.403-1.481 0.409-0.541 0.446-1.145 0.275-1.778-0.047-0.172-0.103-0.341-0.163-0.539 0.238-0.074 0.47-0.162 0.709-0.217 1.245-0.284 2.476-0.234 3.675 0.215 0.7 0.262 1.266 0.702 1.601 1.393 0.41 0.845 0.183 1.646-0.613 2.18-0.074 0.050-0.159 0.089-0.221 0.151-0.038 0.038-0.060 0.115-0.051 0.167 0.005 0.031 0.087 0.069 0.133 0.069 0.262-0.002 0.474-0.139 0.678-0.28 0.511-0.353 0.848-0.829 0.928-1.454 0.002-0.018-0.024-0.035 0.040-0.052 0-0.139 0-0.277 0-0.416-0.064-0.017-0.037-0.034-0.039-0.052zM7.286 22.851c-0.083 1.115-0.588 2.019-1.414 2.75-0.465 0.412-0.997 0.705-1.618 0.808-0.225 0.037-0.455 0.046-0.674-0.047-0.311-0.133-0.381-0.409-0.387-0.704-0.009-0.469 0.155-0.893 0.38-1.296 0.294-0.526 0.725-0.927 1.185-1.301 0.725-0.59 1.512-1.090 2.317-1.561 0.013-0.008 0.029-0.012 0.061-0.025 0.124 0.46 0.184 0.914 0.149 1.377zM13.576 18.006c-0.059 0.356-0.132 0.712-0.236 1.057-0.36 1.194-0.821 2.352-1.32 3.493-0.092 0.211-0.226 0.404-0.343 0.604-0.018 0.031-0.045 0.058-0.071 0.084-0.144 0.143-0.282 0.135-0.355-0.052-0.085-0.217-0.137-0.449-0.182-0.679-0.030-0.154-0.023-0.316-0.032-0.474 0.010-1.123 0.352-2.145 0.934-3.095 0.24-0.392 0.501-0.765 0.899-1.014 0.123-0.076 0.26-0.137 0.399-0.177 0.212-0.060 0.343 0.039 0.308 0.252zM17.867 23.473c0.514-0.6 1.027-1.199 1.542-1.801 0.064 0.669-1.072 2.004-1.542 1.801zM22.793 22.262c-0.109 0.062-0.228 0.108-0.34 0.165-0.102 0.053-0.136-0-0.139-0.088-0.002-0.060 0.007-0.122 0.023-0.18 0.208-0.735 0.591-1.361 1.162-1.871 0.008-0.008 0.021-0.011 0.040-0.021 0.271 0.758-0.042 1.592-0.747 1.995z" />
    </symbol>
    <symbol id="stylus" viewBox="0 0 32 32">
        <path d="M6.596 13.975c0.284 0 0.514 0.039 0.689 0.117s0.262 0.175 0.262 0.291c0 0.142-0.036 0.304-0.107 0.485s-0.139 0.33-0.204 0.446c-0.026 0.026-0.058 0.029-0.097 0.010s-0.058-0.055-0.058-0.107c0.039-0.090 0.058-0.22 0.058-0.388 0-0.181-0.048-0.33-0.146-0.446s-0.23-0.175-0.398-0.175c-0.22 0-0.398 0.068-0.534 0.204s-0.204 0.327-0.204 0.572c0 0.207 0.055 0.405 0.165 0.592s0.233 0.376 0.369 0.563c0.136 0.188 0.262 0.388 0.378 0.602s0.175 0.456 0.175 0.728c0 0.465-0.188 0.828-0.563 1.086s-0.867 0.388-1.475 0.388c-0.44 0-0.786-0.071-1.038-0.213s-0.378-0.297-0.378-0.465c0-0.052 0.019-0.123 0.058-0.213s0.090-0.187 0.155-0.291c0.065-0.103 0.136-0.207 0.213-0.31s0.162-0.187 0.252-0.252c0.039-0.026 0.074-0.020 0.107 0.019s0.036 0.078 0.010 0.117c-0.078 0.077-0.136 0.159-0.175 0.243s-0.058 0.197-0.058 0.34c0 0.233 0.078 0.424 0.233 0.572s0.356 0.223 0.601 0.223c0.336 0 0.598-0.094 0.786-0.281s0.281-0.417 0.281-0.689c0-0.246-0.055-0.475-0.165-0.689s-0.23-0.42-0.359-0.621c-0.129-0.201-0.249-0.404-0.359-0.611s-0.165-0.427-0.165-0.66c0-0.336 0.142-0.617 0.427-0.844s0.705-0.34 1.261-0.34zM11.893 14.073c0.065 0.026 0.090 0.062 0.078 0.107s-0.071 0.081-0.175 0.107c-0.194 0-0.417 0.007-0.669 0.019s-0.521 0.033-0.805 0.058c-0.259 0.634-0.472 1.251-0.64 1.853s-0.252 1.090-0.252 1.465c0 0.44 0.168 0.659 0.504 0.659s0.711-0.291 1.126-0.873c0.039-0.026 0.074-0.026 0.107 0s0.042 0.071 0.029 0.136c-0.22 0.362-0.498 0.676-0.834 0.941s-0.666 0.398-0.989 0.398c-0.337 0-0.585-0.081-0.747-0.243s-0.242-0.385-0.242-0.669c0-0.375 0.090-0.892 0.272-1.552s0.414-1.332 0.699-2.018c-0.337 0.039-0.647 0.091-0.931 0.155-0.065-0.013-0.081-0.045-0.048-0.097s0.090-0.107 0.175-0.165c0.084-0.059 0.184-0.11 0.301-0.155s0.226-0.068 0.33-0.068c0.052 0 0.103 0 0.155 0s0.103-0.006 0.155-0.019c0.168-0.375 0.343-0.737 0.524-1.087s0.362-0.666 0.543-0.951c0.077-0.090 0.184-0.171 0.32-0.242s0.268-0.126 0.398-0.165c0.129-0.039 0.236-0.061 0.32-0.068s0.119 0.017 0.107 0.068c-0.22 0.337-0.437 0.712-0.65 1.126s-0.417 0.847-0.611 1.3c0.246-0.013 0.495-0.019 0.747-0.019s0.488 0 0.708 0zM23.664 4.365c0.194 0 0.352 0.049 0.475 0.146s0.207 0.226 0.252 0.388c0.045 0.162 0.052 0.346 0.020 0.553s-0.107 0.414-0.223 0.621c-0.026 0.026-0.058 0.026-0.097 0s-0.065-0.058-0.078-0.097c0.026-0.155-0.029-0.285-0.165-0.388s-0.346-0.155-0.631-0.155c-0.53 0-1.064 0.197-1.601 0.592s-1.057 0.915-1.562 1.562c-0.504 0.647-0.977 1.391-1.416 2.231s-0.821 1.707-1.145 2.6c-0.323 0.892-0.579 1.778-0.767 2.658s-0.281 1.681-0.281 2.406c0 0.388 0.11 0.582 0.33 0.582 0.155 0 0.307-0.065 0.456-0.194s0.32-0.323 0.514-0.582c0.039-0.026 0.074-0.022 0.107 0.010s0.042 0.074 0.029 0.126c-0.259 0.388-0.563 0.711-0.912 0.97s-0.666 0.388-0.951 0.388c-0.246 0-0.417-0.071-0.514-0.213s-0.146-0.323-0.146-0.543c0-0.608 0.129-1.368 0.388-2.28s0.604-1.876 1.038-2.891c0.433-1.015 0.934-2.027 1.504-3.036s1.161-1.918 1.775-2.726c0.614-0.809 1.232-1.465 1.853-1.97s1.203-0.757 1.746-0.757zM6.438 28.206c-0.194 0-0.352-0.049-0.475-0.146s-0.207-0.226-0.252-0.388c-0.045-0.162-0.051-0.346-0.019-0.553s0.107-0.414 0.223-0.621c0.026-0.026 0.058-0.026 0.097 0s0.065 0.058 0.077 0.097c-0.026 0.155 0.029 0.285 0.165 0.388s0.346 0.155 0.63 0.155c0.53 0 1.064-0.197 1.601-0.592s1.057-0.915 1.562-1.561c0.504-0.647 0.977-1.391 1.416-2.231s0.822-1.707 1.145-2.6c0.323-0.892 0.579-1.778 0.766-2.658s0.281-1.681 0.281-2.406c0-0.388-0.11-0.582-0.33-0.582-0.155 0-0.307 0.064-0.456 0.194s-0.32 0.323-0.514 0.582c-0.039 0.026-0.074 0.022-0.107-0.010s-0.042-0.074-0.029-0.126c0.259-0.388 0.563-0.712 0.912-0.97s0.666-0.388 0.951-0.388c0.246 0 0.417 0.071 0.514 0.213s0.146 0.323 0.146 0.543c0 0.608-0.129 1.368-0.388 2.28s-0.604 1.875-1.038 2.891c-0.433 1.015-0.934 2.027-1.504 3.036s-1.161 1.918-1.775 2.726c-0.614 0.808-1.232 1.465-1.853 1.969s-1.203 0.757-1.746 0.757zM19.544 18.942c-0.543 0-0.815-0.297-0.815-0.892 0-0.207 0.022-0.446 0.068-0.718s0.116-0.553 0.213-0.844c0.097-0.291 0.21-0.585 0.34-0.883s0.284-0.582 0.466-0.854c-0.142 0.091-0.278 0.184-0.407 0.281s-0.246 0.197-0.349 0.301c-0.039 0.026-0.075 0.017-0.107-0.029s-0.036-0.087-0.010-0.126c0.22-0.233 0.533-0.472 0.941-0.718s0.798-0.44 1.174-0.582c0.064 0 0.113 0.017 0.145 0.049s0.036 0.075 0.010 0.126c-0.414 0.543-0.747 1.132-0.999 1.765s-0.378 1.249-0.378 1.843c0 0.375 0.116 0.563 0.349 0.563 0.168 0 0.375-0.113 0.621-0.34s0.504-0.524 0.776-0.893c0.272-0.368 0.546-0.786 0.825-1.251s0.533-0.938 0.766-1.417c0.039-0.077 0.152-0.155 0.34-0.233s0.378-0.117 0.572-0.117c0.194 0 0.252 0.052 0.175 0.155-0.181 0.337-0.34 0.65-0.475 0.941s-0.249 0.579-0.34 0.863c-0.091 0.284-0.159 0.572-0.204 0.863s-0.068 0.611-0.068 0.96c0 0.414 0.11 0.621 0.33 0.621s0.466-0.194 0.737-0.582c0.039-0.026 0.078-0.026 0.116 0s0.052 0.065 0.039 0.117c-0.22 0.336-0.463 0.592-0.728 0.766s-0.508 0.262-0.728 0.262c-0.543 0-0.815-0.317-0.815-0.951 0-0.66 0.116-1.313 0.349-1.96-0.492 0.892-1.009 1.601-1.552 2.125s-1.003 0.786-1.378 0.786zM27.557 13.975c0.284 0 0.514 0.039 0.689 0.117s0.262 0.175 0.262 0.291c0 0.142-0.036 0.304-0.107 0.485s-0.139 0.33-0.204 0.446c-0.026 0.026-0.058 0.029-0.097 0.010s-0.058-0.055-0.058-0.107c0.039-0.090 0.058-0.22 0.058-0.388 0-0.181-0.048-0.33-0.146-0.446s-0.23-0.175-0.398-0.175c-0.22 0-0.398 0.068-0.534 0.204s-0.204 0.327-0.204 0.572c0 0.207 0.055 0.405 0.165 0.592s0.233 0.376 0.369 0.563c0.136 0.188 0.262 0.388 0.378 0.602s0.175 0.456 0.175 0.728c0 0.465-0.188 0.828-0.563 1.086s-0.867 0.388-1.474 0.388c-0.44 0-0.786-0.071-1.038-0.213s-0.378-0.297-0.378-0.465c0-0.052 0.019-0.123 0.058-0.213s0.090-0.187 0.155-0.291c0.065-0.103 0.136-0.207 0.213-0.31s0.162-0.187 0.252-0.252c0.039-0.026 0.074-0.020 0.107 0.019s0.035 0.078 0.010 0.117c-0.078 0.077-0.136 0.159-0.175 0.243s-0.058 0.197-0.058 0.34c0 0.233 0.078 0.424 0.233 0.572s0.356 0.223 0.601 0.223c0.336 0 0.598-0.094 0.786-0.281s0.281-0.417 0.281-0.689c0-0.246-0.055-0.475-0.165-0.689s-0.23-0.42-0.359-0.621c-0.129-0.201-0.249-0.404-0.359-0.611s-0.165-0.427-0.165-0.66c0-0.336 0.142-0.617 0.427-0.844s0.705-0.34 1.261-0.34z" />
    </symbol>
    <symbol id="tars" viewBox="0 0 32 32">
        <path d="M8.208 14.632l0.675-1.563-1.137-1.244 1.102-1.457-4.193-4.442-2.061 2.772 5.614 5.934zM10.411 13.246l2.132-2.772-2.452-1.457-2.096 2.736 2.416 1.492zM4.513 5.82l-2.416-1.457-2.096 2.772 2.416 1.457 2.096-2.772zM21.853 3.261l-4.726-2.772-1.528-0.355 4.726 2.772 1.528 0.355zM13.183 10.901l4.264-9.381-2.487-1.492-4.193 9.239 1.919 1.137 0.497 0.497zM13.289 4.292l2.132 1.244-1.706 3.731-2.096-1.244 1.67-3.731zM22.35 3.617l-2.025-0.462-4.69 10.305 1.528 1.635 5.188-11.477zM13.325 11.079l2.168 2.31 4.655-10.305-2.523-1.457-4.3 9.452zM16.416 10.865l-2.168-1.279 1.706-3.731 2.168 1.244-1.706 3.767zM8.137 14.774l-5.685-6.005-2.132-1.244 7.533 7.888 0.284-0.64zM14.391 21.703l0.462 0.284-0.391-0.426-0.071 0.142zM13.609 18.008l-6.076 13.467 2.025 0.497 5.543-12.33-1.492-1.635zM14.569 21.348l0.817 0.853 0.959-1.315-1.066-1.137-0.711 1.599zM8.35 12.251l12.437 13.183 2.061 1.173-12.437-13.183-2.061-1.173zM12.65 10.617l-2.025 2.772 12.721 13.503 2.061-2.772-12.756-13.503zM9.061 13.246l-6.893 15.173 2.452 1.421 6.538-14.427-2.096-2.168zM6.325 25.576l-2.096-1.244 1.706-3.767 2.061 1.244-1.67 3.767zM11.335 15.627l-6.538 14.32 2.523 1.457 6.112-13.574-2.096-2.203zM9.025 27.14l-2.132-1.244 1.706-3.767 2.132 1.244-1.706 3.767z"></path>
    </symbol>
    <symbol id="uikit" viewBox="0 0 32 32">
        <path d="M17.859 9.882l4.544 2.479v7.023l-6.61 3.718-6.197-3.718v-5.784l-4.131-2.066v10.742l10.328 6.197 10.742-6.197v-12.394l-4.958-2.479-3.718 2.479zM19.512 6.164l-4.131-2.066-3.718 2.479 4.131 2.066 3.718-2.479z" />
    </symbol>
    <symbol id="svg" viewBox="0 0 32 32">
        <path d="M29 13c-0.888 0-1.686 0.386-2.236 1h-5.936l4.197-4.197c0.822 0.046 1.66-0.245 2.288-0.874 1.172-1.172 1.172-3.071 0-4.243s-3.071-1.172-4.243 0c-0.628 0.628-0.919 1.466-0.874 2.288l-4.197 4.197v-5.936c0.614-0.549 1-1.347 1-2.236 0-1.657-1.343-3-3-3s-3 1.343-3 3c0 0.888 0.386 1.686 1 2.236v5.936l-4.197-4.197c0.045-0.822-0.245-1.66-0.874-2.288-1.172-1.172-3.071-1.172-4.243 0s-1.172 3.071 0 4.243c0.628 0.628 1.466 0.919 2.288 0.874l4.197 4.197h-5.936c-0.549-0.614-1.347-1-2.236-1-1.657 0-3 1.343-3 3s1.343 3 3 3c0.888 0 1.686-0.386 2.236-1h5.936l-4.197 4.197c-0.822-0.046-1.66 0.245-2.288 0.874-1.172 1.172-1.172 3.071 0 4.243s3.071 1.172 4.243 0c0.628-0.628 0.919-1.466 0.874-2.288l4.197-4.197v5.936c-0.614 0.549-1 1.347-1 2.235 0 1.657 1.343 3 3 3s3-1.343 3-3c0-0.888-0.386-1.686-1-2.236v-5.936l4.197 4.197c-0.046 0.822 0.245 1.66 0.874 2.288 1.172 1.172 3.071 1.172 4.243 0s1.172-3.071 0-4.243c-0.628-0.628-1.466-0.919-2.288-0.874l-4.197-4.197h5.936c0.549 0.614 1.347 1 2.235 1 1.657 0 3-1.343 3-3s-1.343-3-3-3z"></path>
    </symbol>
    <symbol id="chrome" viewBox="0 0 32 32">
        <path fill="#e03131" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
        <path fill="#4bb64b" d="M21.046 14.646c-1.772-1.009-4.012-0.418-5.046 1.354 1.009 1.772 0.418 4.012-1.354 5.046-1.772 1.009-4.012 0.418-5.046-1.354l-7.089-12.283c-0.123 0.197-0.246 0.394-0.369 0.591-1.452 2.535-2.142 5.292-2.142 8 0 5.514 2.88 10.88 8 13.858 2.314 1.329 4.8 2.018 7.311 2.117l7.089-12.283c1.009-1.772 0.418-4.012-1.354-5.046z"></path>
        <path fill="#fcd11c" d="M30.203 8.615h-14.203c-2.043 0-3.692 1.649-3.692 3.692s1.649 3.692 3.692 3.692c1.009-1.772 3.274-2.363 5.046-1.354s2.363 3.274 1.354 5.046l-7.089 12.283c0.222 0 0.468 0.025 0.689 0.025 5.514 0 10.905-2.855 13.858-8 1.452-2.535 2.142-5.292 2.142-8 0-2.585-0.615-5.12-1.797-7.385z"></path>
        <path fill="#fff" d="M23.385 16c0 4.078-3.306 7.385-7.385 7.385s-7.385-3.306-7.385-7.385c0-4.078 3.306-7.385 7.385-7.385s7.385 3.306 7.385 7.385z"></path>
        <path fill="#0091d1" d="M22.154 16c0 3.399-2.755 6.154-6.154 6.154s-6.154-2.755-6.154-6.154c0-3.399 2.755-6.154 6.154-6.154s6.154 2.755 6.154 6.154z"></path>
    </symbol>
    <symbol id="safari" viewBox="0 0 32 32">
        <path fill="#e8e8e8" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
        <path fill="#00ccf4" d="M16 29.538c-7.458 0-13.538-6.080-13.538-13.538s6.080-13.538 13.538-13.538 13.538 6.080 13.538 13.538-6.080 13.538-13.538 13.538z"></path>
        <path fill="#fff" d="M16 22.154c-3.397 0-6.154-2.757-6.154-6.154s2.757-6.154 6.154-6.154 6.154 2.757 6.154 6.154-2.757 6.154-6.154 6.154z"></path>
        <path fill="#fff" d="M17.945 17.945l7.902-1.945-7.902-1.945-1.945-7.902-1.945 7.902-7.902 1.945 7.902 1.945 1.945 7.902 1.945-7.902z"></path>
        <path fill="#00ccf4" d="M16 20.677c-2.585 0-4.677-2.092-4.677-4.677s2.092-4.677 4.677-4.677 4.677 2.092 4.677 4.677-2.092 4.677-4.677 4.677z"></path>
        <path fill="#ff3e5b" d="M15.163 15.138l9.551-7.852-7.877 9.551z"></path>
        <path fill="#fff" d="M16.886 16.862l-9.551 7.852 7.852-9.551z"></path>
    </symbol>
    <symbol id="opera" viewBox="0 0 32 32">
        <path fill="#fff" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
        <path fill="#e5295b" d="M7.089 16c0-3.052 0.812-5.489 2.412-7.36 1.6-1.846 3.742-2.782 6.4-2.782 1.083 0 2.092 0.172 3.028 0.542s1.772 0.886 2.486 1.575c1.034 0.985 1.822 2.191 2.388 3.569 0.542 1.403 0.837 2.905 0.837 4.554 0 3.077-0.837 5.588-2.486 7.557-1.674 1.969-3.815 2.954-6.425 2.954-2.585 0-4.677-0.96-6.252-2.905s-2.388-4.529-2.388-7.705z"></path>
        <path fill="#fff" d="M15.877 8.074c-1.255 0-2.24 0.738-2.954 2.24-0.738 1.502-1.108 3.545-1.108 6.105 0 2.412 0.369 4.357 1.132 5.858s1.748 2.24 2.929 2.24 2.142-0.763 2.88-2.289c0.738-1.526 1.083-3.569 1.083-6.129 0-2.437-0.369-4.382-1.108-5.858-0.689-1.428-1.674-2.166-2.855-2.166z"></path>
    </symbol>
    <symbol id="ie" viewBox="0 0 32 32">
        <path fill="#fff" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
        <path fill="#1ebbee" d="M19.84 19.126c-0.689 1.206-2.018 2.018-3.594 2.018-2.24 0-4.062-1.698-4.062-3.766h12.702c0.049-0.369 0.074-0.763 0.074-1.157 0-4.898-3.988-8.886-8.886-8.886-4.209 0-7.729 2.929-8.665 6.868 1.305-1.551 3.175-3.126 4.628-3.84-1.132 0.935-3.422 3.594-4.849 6.006 0.074 4.849 4.012 8.763 8.886 8.763 3.889 0 7.188-2.486 8.394-5.957l-4.628-0.049zM16.172 11.249c2.191 0 3.988 1.625 3.988 3.618h-7.975c0-1.994 1.797-3.618 3.988-3.618z"></path>
        <path fill="#1ebbee" d="M23.754 6.72c-2.782-2.166-9.452 1.378-11.692 3.594-3.446 3.052-8.738 10.585-6.326 14.228 0.985 1.305 3.569 1.305 6.572-0.517 0 0 0.714-0.418 1.797-1.231l-0.246-0.148c-3.028 2.018-5.711 2.732-6.818 1.625-1.649-1.649 0.714-6.695 5.292-11.274s9.625-6.942 11.274-5.292c1.329 1.329 0.074 4.825-2.831 8.517h0.271c1.034-1.28 1.969-2.732 2.757-4.283 0.394-0.665 1.772-3.938-0.049-5.218z"></path>
    </symbol>
    <symbol id="firefox" viewBox="0 0 32 32">
        <path fill="#249dd8" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
        <path fill="#d97827" d="M26.585 4.012c0.025 0.148 0.049 0.345 0.074 0.566-1.329-1.058-2.905-1.92-4.8-2.437 3.077 2.043 4.234 3.766 4.972 5.317-0.837-0.837-2.24-1.723-3.2-1.797 1.428 1.058 3.791 4.185 3.569 8.935-0.64-1.625-1.526-2.314-1.526-2.314 0.148 1.551 0.369 3.668 0.074 5.686-0.098 0.468-0.197 0.812-0.295 1.206-0.172-0.763-0.418-1.182-0.418-1.182s-0.074 0.714-0.295 1.6c-0.123 0.492-0.32 1.083-0.615 1.723-0.369 0.788-0.665 1.378-1.009 1.698-1.723 1.6-6.794 2.043-9.895 0.32-0.566-0.32-1.403-1.034-1.846-1.477 1.871 0.468 3.84 0.123 4.997-0.665s1.846-1.378 2.462-1.231c0.615 0.148 1.034-0.468 0.542-1.034-0.468-0.542-1.625-1.28-3.2-0.886-1.206 0.295-2.24 1.28-3.914 0.591-0.098-0.049-2.338-1.108-2.412-2.782-0.025-0.369 0.222-0.886 0.665-1.132 0 0 1.231-0.665 1.92 0.148 0 0 0.295-0.862-0.295-1.575-0.025-0.074-0.074-0.172-0.098-0.246 0 0 0 0 0 0 0.098-0.394 2.511-1.674 2.683-1.797 0.246-0.197 0.517-0.468 0.665-0.788 0.123-0.222 0.197-0.517 0.172-0.935-0.025-0.32-0.197-0.492-2.782-0.468-0.714 0-1.157-0.394-1.428-0.788-0.049-0.074-0.098-0.172-0.148-0.246-0.049-0.098-0.098-0.197-0.123-0.271v0c0-0.025 0-0.049 0.025-0.074 0.197-0.64 0.492-1.255 0.886-1.797 0.763-0.935 1.748-1.477 1.748-1.477-2.486-0.542-4.357 1.28-4.923 1.945-1.403-0.32-2.609-0.246-3.618 0.049-1.895-1.329-1.969-3.151-1.969-3.151-2.142 2.142-1.871 5.268-1.723 6.178-0.985 1.945-1.502 4.209-1.502 6.572 0 8.837 7.163 16 16 16s16-7.163 16-16c0-4.775-2.092-9.058-5.415-11.988z"></path>
        <path fill="#dc8a27" d="M15.581 9.698c0-0.074 0-0.148 0-0.197-0.025-0.32-0.222-0.542-2.806-0.517-1.058 0-1.551-0.911-1.723-1.305-0.271 1.009-0.32 2.018-0.123 3.249 0.049 0.222 0.123 0.443 0.222 0.665 0 0.025 0 0.049 0.025 0.074 0.049 0.148 0.197 0.369 0.345 0.615 0 0 0 0 0 0 0.025 0.049 0.049 0.074 0.074 0.123 0.049 0.074 0.123 0.172 0.172 0.246 0.172 0.197 0.197 0.418 0.246 0.418 0 0 0.025 0 0.025 0 0.492-0.615 2.486-1.526 2.954-1.994 0.271-0.295 0.32-0.369 0.345-0.492 0.098-0.148 0.172-0.295 0.197-0.468 0 0-0.025 0-0.025 0 0.025-0.049 0.049-0.074 0.049-0.074 0-0.074 0.049-0.222 0.025-0.345z"></path>
        <path fill="#000" d="M15.606 10.215c0.123-0.295 0.246-0.96-0.123-1.083-0.32-0.074-0.591-0.123-1.108-0.123 0.172 0.049 0.665 0.148 0.788 0.369 0.246 0.443 0.049 1.28-0.049 1.526 0.271-0.197 0.369-0.394 0.492-0.689z"></path>
    </symbol>
    <symbol id="android" viewBox="0 0 32 32">
        <path fill="#10dd76" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
        <path fill="#fff" d="M10.667 12.333v8.667c0 0 0.133 0.667 0.667 0.667h1.333l0.067 2.733c-0.067 1.267 1.267 1.267 1.267 1.267s1.333 0 1.333-1.333v-2.667h1.333v2.667c0 1.333 1.333 1.333 1.333 1.333s1.333 0 1.267-1.267l0.067-2.733h1.333c0.533 0 0.667-0.667 0.667-0.667v-8.667h-10.667z"></path>
        <path fill="#fff" d="M23.333 12.333c-0.733 0-1.333 0.6-1.333 1.333v4.667c0 0.733 0.6 1.333 1.333 1.333s1.333-0.6 1.333-1.333v-4.667c0-0.733-0.6-1.333-1.333-1.333z"></path>
        <path fill="#fff" d="M8.667 12.333c-0.733 0-1.333 0.6-1.333 1.333v4.667c0 0.733 0.6 1.333 1.333 1.333s1.333-0.6 1.333-1.333v-4.667c0-0.733-0.6-1.333-1.333-1.333z"></path>
        <path fill="#fff" d="M21.333 6.667c0-0.2-0.133-0.333-0.333-0.333-0.133 0-0.2 0.067-0.267 0.133l-1.4 1.4c-0.867-0.533-2-0.867-3.333-0.867s-2.467 0.333-3.333 0.867l-1.4-1.4c-0.067-0.067-0.133-0.133-0.267-0.133-0.2 0-0.333 0.133-0.333 0.333 0 0.067 0.067 0.2 0.133 0.267l1.333 1.4c-0.933 0.867-1.467 2-1.467 3.4h10.667c0-1.333-0.533-2.533-1.467-3.4l1.333-1.4c0.067-0.067 0.133-0.2 0.133-0.267zM13.333 10.333c-0.4 0-0.667-0.267-0.667-0.667s0.267-0.667 0.667-0.667 0.667 0.267 0.667 0.667c0 0.333-0.267 0.667-0.667 0.667zM18.667 10.333c-0.4 0-0.667-0.267-0.667-0.667s0.267-0.667 0.667-0.667 0.667 0.267 0.667 0.667c0 0.333-0.267 0.667-0.667 0.667z"></path>
    </symbol>
    <symbol id="ios" viewBox="0 0 32 32">
        <path fill="#0c0c17" d="M16 0c-8.832 0-16 7.168-16 16s7.168 16 16 16 16-7.168 16-16c0-8.832-7.168-16-16-16zM16.672 6.816c0.576-0.832 1.536-1.408 2.88-1.696 0 0.032 0.032 0.064 0.032 0.128s0.032 0.096 0.032 0.128 0 0.064 0 0.128c0 0.032 0 0.096 0 0.128 0 0.48-0.096 0.992-0.32 1.568s-0.576 1.12-1.056 1.6c-0.416 0.384-0.832 0.672-1.248 0.8-0.288 0.096-0.672 0.16-1.216 0.192 0.032-1.152 0.32-2.144 0.896-2.976zM22.528 22.016c-0.992 1.504-1.984 2.272-2.976 2.272-0.352 0-0.896-0.128-1.6-0.384-0.64-0.256-1.216-0.384-1.728-0.384-0.448 0-1.024 0.128-1.632 0.384-0.64 0.256-1.152 0.384-1.536 0.384-1.184 0-2.336-0.992-3.488-2.976-1.12-1.984-1.696-3.936-1.696-5.792 0-1.76 0.448-3.2 1.312-4.32s1.952-1.664 3.264-1.664c0.544 0 1.248 0.128 2.048 0.352s1.344 0.352 1.6 0.352c0.352 0 0.896-0.128 1.664-0.384s1.44-0.384 1.984-0.384c0.928 0 1.728 0.224 2.464 0.736 0.416 0.288 0.8 0.672 1.216 1.152-0.608 0.544-1.056 0.992-1.312 1.376-0.48 0.736-0.736 1.536-0.736 2.4 0 0.928 0.256 1.792 0.8 2.56 0.544 0.736 1.152 1.248 1.76 1.44-0.288 0.96-0.768 1.92-1.408 2.88z"></path>
    </symbol>
    <symbol id="zip" viewBox="0 0 32 32">
        <path d="M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.121 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841v0 0zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268v0 0zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z"></path>
        <path d="M8 2h4v2h-4v-2z"></path>
        <path d="M12 4h4v2h-4v-2z"></path>
        <path d="M8 6h4v2h-4v-2z"></path>
        <path d="M12 8h4v2h-4v-2z"></path>
        <path d="M8 10h4v2h-4v-2z"></path>
        <path d="M12 12h4v2h-4v-2z"></path>
        <path d="M8 14h4v2h-4v-2z"></path>
        <path d="M12 16h4v2h-4v-2z"></path>
        <path d="M8 26.5c0 0.825 0.675 1.5 1.5 1.5h5c0.825 0 1.5-0.675 1.5-1.5v-5c0-0.825-0.675-1.5-1.5-1.5h-2.5v-2h-4v8.5zM14 24v2h-4v-2h4z"></path>
    </symbol>
</svg>
<div class="p-project">
    <div class="p-section p-section--bg">
        <div class="p-section__header">
            <h1 class="p-logo">{{logo}}</h1>
        </div>
        <div class="p-section__body">
            <div class="p-container">
                <nav class="p-menu{{pages.class}}">
                    <div class="p-menu__header">
                        <span class="p-menu__title">Pages List</span>
                        <span class="p-menu__count">{{pages.count}}</span>
                    </div>
                    <ol class="p-menu__list">
                        {{#each pages.list}}
                            <li class="p-menu__item">
                                <a href="{{href}}" class="p-menu__link" title="{{name}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ol>
                    <div class="p-menu__footer">
                        {{#is download '!=' undefined}}
                            <a href="{{download.href}}" class="p-download">
                                <span class="p-download__icon">
                                    <svg class="p-icon" width="32px" height="32px">
                                        <use xlink:href="#{{download.icon}}"></use>
                                    </svg>
                                </span>
                                <span class="p-download__text">
                                    {{download.title}}
                                </span>
                            </a>
                        {{/is}}
                    </div>
                </nav>
            </div>
        </div>
        <div class="p-section__footer">
            <div class="p-scroll-down">
                <div class="p-scroll-down__arrow"></div>
            </div>
        </div>
    </div>
    <div class="p-section p-section--primary">
        <div class="p-section__header">
            <div class="p-headline">
                <h2 class="p-headline__title">
                    <strong class="p-headline__hint">{{logo}}</strong>
                    Project
                    <strong class="p-headline__mark">Features</strong>
                </h2>
            </div>
        </div>
        <div class="p-section__body">
            <div class="p-thumbs">
                <div class="p-container">
                    <div class="p-thumbs__list">
                        {{#each skils}}
                            {{#is use '==' true}}
                                <div class="p-thumbs__item">
                                    <a href="{{link}}" class="p-thumb" target="_blank" title="{{name}}">
                                        <span class="p-thumb__icon">
                                            <svg class="p-icon" width="32px" height="32px">
                                                <use xlink:href="#{{icon}}"></use>
                                            </svg>
                                        </span>
                                        <span class="p-thumb__title">{{name}}</span>
                                        <span class="p-thumb__info">
                                            {{text}}
                                        </span>
                                    </a>
                                </div>
                            {{/is}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-section p-section--secondary">
        <div class="p-section__header">
            <div class="p-headline">
                <h2 class="p-headline__title">
                    <strong class="p-headline__hint">{{logo}}</strong>
                    <strong class="p-headline__mark">Browsers</strong>
                    Support
                </h2>
            </div>
        </div>
        <div class="p-section__body">
            <div class="p-browsers">
                <div class="p-container">
                    <div class="p-browsers__list">
                        {{#each browsers}}
                            <div class="p-browsers__item">
                                <a href="{{link}}" class="p-browsers__link" title="{{name}}">
                                    <div class="p-browsers__icon">
                                        <svg class="p-icon" width="32px" height="32px">
                                            <use xlink:href="#{{icon}}"></use>
                                        </svg>
                                    </div>
                                    <div class="p-browsers__title">
                                        {{name}}
                                    </div>
                                    <div class="p-browsers__text">
                                        {{version}}
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>