// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// font-face
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
            src: url('#{$file-path}.eot');
            src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
                 // url('#{$file-path}.woff2') format('woff2'),
                 url('#{$file-path}.woff') format('woff'),
                 url('#{$file-path}.ttf') format('truetype'),
                 url('#{$file-path}.svg##{$font-family}') format('svg');
            font-weight: $font-weight;
            font-style: $font-style;
        }
        // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            @font-face {
            font-family: $font-family;
            src: url('#{$file-path}.svg##{$font-family}') format('svg');
        }
    }
}

// placeholder
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder {@content;opacity: 1}
    &::-moz-placeholder {@content;opacity: 1}
    &:-ms-input-placeholder {@content}
    &:focus::-webkit-input-placeholder {color: transparent;}
    &:focus:-moz-placeholder {color: transparent;}
    &:focus::-moz-placeholder {color: transparent;}
    &:focus:-ms-input-placeholder {color: transparent;}
}

// selection
@mixin selection {
    ::-moz-selection {@content;}
    ::selection {@content;}
}

// justify align
%justify {
    font-size: 0;
    text-align: justify;
    text-justify: newspaper;
    &::after {
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
}

// underline link
%underline {
    position: relative;
    &::before {
        content: '';
        transition: transform .2s;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
    }
    &:hover {
        &::before {
            transform: scaleX(1);
        }
    }
}

// separator
%sep {
    position: relative;
    padding: 0 10px;
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        width: 1px;
        height: 11px;
        left: 0;
    }
    &:first-child {
        padding-left: 0;
        &::after {
            display: none;
        }
    }
}

// clearfix
%cf {
    &::before,
    &::after {
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    }
}

// hidden text
%t-hide {
    overflow: hidden;
    padding: 0; /* 1 */
    text-indent: 101%;
    white-space: nowrap;
}

// visual hidden
%v-hide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// event mixin
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

//aspect-ratio
@mixin aspect-ratio($arglist... /*$width/$ratio, $height*/){
    $map : keywords($arglist);
    $height: map-get($map, height) or nth-or-null($arglist, 2);
    $width:  map-get($map, width)  or nth-or-null($arglist, 1);
    $ratio:  map-get($map, ratio)  or if($width and $height, $width/$height, nth-or-null($arglist, 1)) or 1;
    $padding: 1/$ratio * 100%;
    &:before { content: ''; float:left; padding-bottom: $padding;  }
    &:after  { content: ''; display:table; clear: both; }
}
// Helper function
// Return null rather than throwing an error if index is outside list range.
@function nth-or-null($list, $index) {
  @return if(length($list) >= $index, nth($list, $index), null);
}

// icon
@mixin icon($position: before, $icon: false) {
    @if $position == both {
        $position: 'before, &::after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &::#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}
