// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors
$color-main            : #fff !default;
$color-success         : #5cb85c !default;
$color-danger          : #d9534f !default;

// body
$body-bg               : #000 !default;
$body-color            : #fff !default;

// text
$text-color            : #fff !default;
$text-color--muted     : #ccc !default;

// links
$link-color            : #fff !default;
$link-decoration       : none !default;
$link-hover-color      : #ff0 !default;
$link-hover-decoration : none !default;

// selection
$selection-bg          : #ff0 !default;
$selection-color       : #fff !default;

// placeholder
$placeholder-color     : #ссс !default;

//fonts
$font-size--root       : 16px !default;
$font-size--base       : 14px !default;
$font-size--desktop    : 16px !default;
$font-size--tablet     : 14px !default;
$font-size--phone      : 12px !default;

$line-height--base     : 1.375em !default;

$font-size--h1         : 26px !default;
$font-size--h2         : 24px !default;
$font-size--h3         : 22px !default;
$font-size--h4         : 20px !default;
$font-size--h5         : 18px !default;
$font-size--h6         : 16px !default;

$font-family           : Arial, sans-serif !default;

// sizez
$site-size             : 1280px !default;

// media quaries
$breakpoints : (
    'phone'            : 20em, //320px
    'tablet-small'     : 30em, //480px
    'tablet'           : 48em, //768px
    'desktop'          : 64em, //1024px
    'desktop-large'    : 80em  //1280px
) !default;

// bem
$bem : (
    'debug'            : false,
    'separator'        : (
        'element'      : "__",
        'modifier'     : "--",
        'state'        : "-",
    ),
    'namespace'        : (
        'component'    : "c",
        'hack'         : "_",
        'object'       : "o",
        'scope'        : "s",
        'test'         : "qa",
        'theme'        : "t",
        'utility'      : "u",
    )
) !default;
