// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/* reset browsers */
* {
    box-sizing: border-box;
    &::before, &::after{
        box-sizing: border-box;
    }
    @include selection {
        background: $selection-bg;
        color: $selection-color;
    }
}
form, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}
input, select, textarea, button {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius:0;
    appearance: none;
}
button {
    cursor: pointer;
    background: transparent;
}
h1, h2, h3, h4, h5, p, strong {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}
/* placeholder cross-browser */
input, textarea {
    @include placeholder {
        color: $placeholder-color;
    }
    &.placeholder {
        color: $placeholder-color !important;
    }
}
/* general styles */
html {
    height: 100%;
}
body {
    color: $body-color;
    background-color: $body-bg;
    min-width: 320px;
    height: 100%;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}
