// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/* container */
@include b(container) {
    clear: fix-legacy;
    margin: auto;
    max-width: $site-size;
    padding: 0 10px;
}
