// fonts
// $icons: (
//     name: "\e601",
// );
// @include b(icon) {
//     font-family: 'Ico Moon';
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     display: inline-block;
//     vertical-align: middle;
//     line-height: 1;
//     @include m('name') {
//         @include icon(before, name);
//         margin-right: 10px;
//     }
// }
// raster
// @include b(ico) {
//     display: inline-block;
//     vertical-align: middle;
//     speak: none;
//     @include m('name') {
//         @include bg($ico-name);
//     }
// }
// svg
@include b('icon') {
    width: 1em;
    height: 1em;
    display: block;
    fill: currentColor;
}
