<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{#if pageTitle}}{{pageTitle}}{{else}}Default Title{{/if}}</title>
    <meta name="description" content="{{#if pageDescription}}{{pageDescription}}{{else}}Description{{/if}}">
    <meta name="keywords" content="{{#if pageKeywords}}{{pageKeywords}}{{else}}Keywords{{/if}}">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noodp, noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
</head>
