@include b(page) {
    @include e(wrapper) {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    @include e(main) {
        flex: 1;
    }
    @include e(header footer) {
        flex-shrink: 0;
    }
}
